$titleFont: 'Source Sans Pro',sans-serif;
$titleColor: #95989A;
$contentFont: 'Source Sans Pro',sans-serif;
$contentColor: #cccccc;

h1,
h2,
h3 {
  letter-spacing: 1.8px;
  // text-transform: lowercase;
  font-family: $titleFont;
  font-weight: 600;
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem 0 .2rem;
}

a,
p,
span,
li,
figcaption,
article {
  letter-spacing: 1px;
  font-size: .8rem;
  font-family: $contentFont;
  font-weight: 400;
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  color: $contentColor;
  line-height: 1rem;
  // text-transform: lowercase;
  margin: .8rem 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-size: .8rem;
    line-height: 1.2rem;
    // text-transform: lowercase;
  }
}

article {
  padding: 20px;
  ul {
    list-style: square;
    padding: 0 0 0 20px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: .5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
